version: "3.8"
services:
  bot:
    build: .
    container_name: remindino_bot
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DB_PATH=/app/data/bot.db
    restart: unless-stopped
